body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#ffe9d9
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validation-message {
    color: red;
    font-weight: bold;
}
/*table styles*/
table, th, td {
    border: 1px solid black;
    border-collapse:separate;
}

#main-table {
    border: 1px solid black;
}

th {
    height: 50px;
    font-size:large;
    color: #ffe9d9;
    background-color:#373737;
    text-align:center;
}

.info-row {
    background-color:#b0aaa2;
    font-size:larger;
    font-weight:bold;
}

.info-row:hover {
    background-color:#ccc2c2;
}

.actions {
    text-align:center;
}

/*table styles finish*/

.btn-delete {
    background-color:#ff7000;
}

.btn-submit {
    background-color:#373737;
    color:#ffe9d9;
}

.navbar {
    background-color: #ff7000;
}

.navbar-brand {
    color: #373737;
    font-weight:bold;
}

a {
    color:#ff7000;
    font-weight:bold;
    font-size:larger;
}